
/* General */
.content { display: block; margin: 0 auto; max-width: 1280px; position: relative; }
.wrap { margin: 0 auto; max-width: 980px; position: relative; margin: 0 170px; }
.wrap * { margin: 0; padding: 0; line-height: 1.4em; }
.desktop_layout { border-radius: 5px; float: right; clear: both; width: 65%; font-size: .8em; background: #fff; margin: 0 0 20px 0; padding: 0 0 5px 0; }
.smartphone_portrait_layout { border-radius: 5px; float: left; width: 32%; font-size: .6em; background: #fff; margin: 0 0 20px 0; padding: 0 0 5px 0; }
.resultswrapper .form-item { margin: 0; padding: 0; }
.resultswrapper textarea, .resultswrapper .grippie { width: 100%; height: 300px; display: none; margin-bottom: 20px; }
.messages.error { display: block; }
.grid-box { display: block; overflow: hidden; position: relative; margin-top: 5px; }
.desktop_layout .grid-box, .smartphone_portrait_layout .grid-box { float: left; margin-left: 1%; border-bottom: 1px solid #f0f0f0; padding-bottom: 5px; } 
.layout { box-shadow: 0px 5px 5px #ccc; }
.layout .first { clear: both; margin-left: 2%; }
.layout .first .header { border-left: 10px solid #FFBB00; }
.layout .width-1-of-1 { width: 96%; }
.layout .width-1-of-2 { width: 47.5%; }
.layout .width-1-of-3 { width: 31.4286%}
.layout .width-2-of-3 { width: 64.08164%; }
.layout .width-1-of-4 { width: 23.26531%; }
.layout .width-2-of-4 { width: 47.75511%; }
.layout .width-3-of-4 { width: 72.2449%; }
.layout .width-netboard { width: 59.18367%; }
.layout .width-next-to-netboard { width: 36.32654%; }
.layout .width-full { width: 100%; margin-left: 0; margin-right: 0; }
.last { float: right; }
.hide-lead .leadtext, .styleclass-default-lead-hidden .leadtext, .styleclass-overlay-lead-hidden .leadtext { display: none; }
.desktop_layout .header, .smartphone_portrait_layout .header { cursor: move; }
.header { display: block; background: #000; color: #fff; height: 22px; position: relative; font-size: 10px; }
.grid-box:hover .header { display: block !important; }
.header span { position: absolute; left: 5px; top: 4px; text-transform: capitalize; }
.header select { position: absolute; right: 3px; top: 3px; }
.content { display: block; position: relative; }
.hoverplaceholder { position: absolute; z-index: 99; padding: 5px; left: 0px; top: 0px; right: 0px; bottom: 0px; display: none; font-size: 12px; background: rgba(0,0,0,0.6); }
.content .hoverplaceholder select { margin-bottom: 2px; }
.content .hoverplaceholder .remove { float: left; margin-top: 10px; clear: both; background: #f00; cursor: pointer; color: #fff; white-space: nowrap; padding: 3px; border-radius: 5px; }
.content .hoverplaceholder .insert { position: absolute; top: 4px; left: 3px; background: #0f0; cursor: pointer; color: #fff; white-space: nowrap; padding: 3px; border-radius: 5px; }
.palette .selectplaceholder, .desktop_layout .insertplaceholder, .smartphone_portrait_layout .insertplaceholder { display: none; }
.content img { width: 100%; }
.desktop_layout h1, .smartphone_portrait_layout h1 { border-top-left-radius: 5px; border-top-right-radius: 5px; margin-left: 0; margin-right: 0; font-size: 16px; font-weight: normal; background: #E0E0D8; font-family: arial; padding: 5px 2% 1px 2%; }
.ui-sortable-placeholder { margin-top: 5px; margin-left: 1%; background: #FFFBC9; visibility: visible !important; }
.left_palette { position: absolute; left: -195px; }
.right_palette { position: absolute; right: -20px; }
.palettefloat { position: absolute; top: 0px; }
.palette { width: 160px; background: #E0E0D8; border-radius: 5px; padding: 6px; margin-bottom: 20px; }
.palette h3 { font-weight: normal; font-size: 1.2em; }
.palette-element { position: relative; cursor: pointer; background: #fff; padding: 8px 5px 8px 20px; margin-top: 3px; border-radius: 3px; font-size: .8em; }
.first-palette-element span:before { content: ''; position: absolute; left: 5px; top: 8px; border: 5px solid transparent; border-bottom-color: #000; }
.second-palette-element span:before { content: ''; position: absolute; left: 5px; top: 13px; border: 5px solid transparent; border-top-color: #000; }
.tips_palette p { margin: .5em 0; font-size: .9em; display: none; }
.tips_palette h3 { cursor: pointer; }
.widget .gridbox-info { background: #CADAE6; padding: 5px; font-size: 10px; }
.desktop_layout .widget .gridbox-info { padding-bottom: 50px; }
.smartphone_portrait_layout .widget .gridbox-info { padding-bottom: 20px; }
.advertorial h2 { position: absolute; left: 5px; top: 5px; font-size: 10px; font-weight: normal; }
.grid-box span.selector { display: inline-block; background: #fff; color: #666; padding: 0px 5px; font-size: 8px; border-radius: 3px; }
.advertorial .gridbox-info { display: inline-block; position: absolute; padding: 0px 5px; border-radius: 3px; bottom: 9px; left: 5px; background: #fff; color: #666; font-size: 8px; }
.optionspalette .wrap span { display: block; }
.desktop_layout .width-netboard img { height: 220px; }

/* Drupal */
body, #page { background: transparent !important; }
#edit-actions { display: inline; position: absolute; right: 0; top: -58px; }
.form-item-save-message { display: inline; position: absolute; right: 200px; top: -55px; }
#branding { border-bottom: 1px solid #fff; }
a.feed-icon { display: none; }

/* Site */
.styleclass-default { /* Default styling */ }
.styleclass-overlay .textwrap, .styleclass-overlay-lead-hidden .textwrap { position: absolute; bottom: 0px; width: 96%; padding: 2%; background-color: rgba(0, 0, 0, 0.7); color: #fff; }
